<h1>
  Welcome {{title}}!
</h1>
<div class="jumbotron">
<form [formGroup]="form" (ngSubmit)="submitForm(form.value)" style="padding: 20px">
  <div class="form-group" [ngClass]="{'has-error':!form.controls['username'].valid && form.controls['username'].touched}">
    <label>First Name:</label>
    <input class="form-control" type="text" placeholder="username" [formControl]="form.controls['username']">
    <!-- The hasError method will tell us if a particular error exists -->
    <div *ngIf="form.controls['username'].hasError('required') && form.controls['username'].touched" class="alert alert-danger">You must include a username.</div>
  </div>
  <div class="form-group" [ngClass]="{'has-error':!form.controls['password'].valid && form.controls['password'].touched}">
    <label>password:</label>
    <input class="form-control" type="password" placeholder="password" [formControl]="form.controls['password']">
    <!-- The hasError method can work with the built in validators but custom validators as well -->
    <div *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="alert alert-danger">You must include a password.</div>
    <div *ngIf="form.controls['password'].hasError('minlength') && form.controls['password'].touched" class="alert alert-danger">Your password must be at least 5 characters long.</div>
    <div *ngIf="form.controls['password'].hasError('maxlength') && form.controls['password'].touched" class="alert alert-danger">Your password cannot exceed 10 characters.</div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-success" [disabled]="!form.valid" >Submit</button>
  </div>

</form>
</div>

<p>  {{form.value | json}} </p>
<p>Form status: {{ form.status | json }}</p>
<h3> status : {{success}} </h3>
